{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% load bootstrap3 %}
{% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{% static 'iTunesReviews/style.css' %}">
{% bootstrap_javascript %}
{% block head-javascript %}

<script language = "JavaScript">

 function checkAll(ele) {
     var checkboxes = document.getElementsByTagName('input');
     if (checkboxes[3].value=="Check All") {
             console.log(1)
         for (var i = 0; i < checkboxes.length; i++) {
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = true;
             }
         }
     checkboxes[3].value = "Uncheck All";
     } else {
         for (var i = 0; i < checkboxes.length; i++) {
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = false;
             }
         }
             console.log(checkboxes[3])
     checkboxes[3].value = "Check All";
     }
   }

 function validateForm() {
   var x = document.forms["idForm"]["id"].value;
   var y = document.forms["idForm"]["countryList[]"];
   console.log(y[0].checked);
   if(x == null || x == ""){
     document.getElementById("errors").innerHTML = '<div>Missing iTunes ID</div>'
     return false;
   }
   var countryFound = false;
   for(var k = 0; k < y.length; k++){
      if(y[k].checked == true){
        countryFound = true;
        break;
      }
   }
   if(countryFound == false){
     document.getElementById("errors").innerHTML = '<div style="color:red; font-size:70%;">No Countries Selected</div>'
     return false;
   }
   document.getElementById("errors").innerHTML = ''
 }

</script>
{% endblock %}

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color:black;"><b>Beholdr</b></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="./">iTunes Review Search</a></li>
          <li><a href="./search">iTunes ID Finder</a></li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <form class="form-inline" name = "idForm" action="{% url 'iTunesReviews:runReport' %}" onsubmit="return validateForm()" method="post">
      {% csrf_token %}
      <div class="form-group" id="search">
        <label for="your_name">iTunes ID </label>
        <input id="searchBox" class="form-control" type="number" min="100000000" max="9999999999" name="id" value="{{Ident}}">
        <input id="searchButton" class="btn btn-default" type="submit" value="Go">
        <p id="errors"></p>
      </div>

      {% if country_list %}
        <p><input type="button" onclick= "checkAll(this)" name = "checkUncheck" value = "Check All"> </p>
        <div class="panel-group" id="accordion">
        {% for key, values in country_list.items %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                  <h4 class="panel-title", style="color:black;">
                    {{key}}
                  </h4>
                </a>
              </div>
              <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                <div class="panel-body">
                  {% for con in values %}
                    <input type = "checkbox" name= "countryList[]" value="{{con}}" >{{con|slice:"3:"}}<br>
                  {% endfor %}
                </div>
              </div>
            </div>
        {% endfor %}
          </div>
      {% else %}
        <p>country list missing!</p>
      {% endif %}

    </form>
  </div>
</body>
