{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% load bootstrap3 %}
{% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{% static 'iTunesReviews/style.css' %}">
{% bootstrap_javascript %}
{% block head-javascript %}
<script language = "JavaScript">

 function checkAll(ele) {
     var checkboxes = document.getElementsByTagName('input');
     if (checkboxes[3].value=="Check All") {
             console.log(1)
         for (var i = 0; i < checkboxes.length; i++) {
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = true;
             }
         }
     checkboxes[3].value = "Uncheck All";
     } else {
         for (var i = 0; i < checkboxes.length; i++) {
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = false;
             }
         }
             console.log(checkboxes[3])
     checkboxes[3].value = "Check All";
     }
   }

 function validateForm() {
   var x = document.forms["idForm"]["id"].value;
   if(x == null || x == ""){
     document.getElementById("errors").innerHTML = '<div>Missing iTunes ID</div>'
     return false;
   }
 }

</script>
{% endblock %}
{% block body-content %}

<div id = "left">
  <h1> Beholdr </h1>
  <div>
    <form class="form-signin" name = "idForm" action="{% url 'iTunesReviews:runReport' %}" onsubmit="return validateForm()" method="post">
      {% csrf_token %}
      <div id="search">
        <label for="your_name">Enter iTunes ID: </label>
        <input id="searchBox" type="number" min="100000000" max="9999999999" name="id" value="{{Ident}}">
        <input id="searchButton" class="btn btn-lg btn-default" type="submit" value="Go">
        <p id="errors"></p>
      </div>
      {% if country_list %}
        <p><input type="button" onclick= "checkAll(this)" name = "checkUncheck" value = "Check All"> </p>

        <div class="panel-group" id="accordion">
        {% for key, values in country_list.items %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">{{key}}</a>
                </h4>
              </div>
              <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                <div class="panel-body">
                  {% for con in values %}
                    <input type = "checkbox" name= "countryList[]" value="{{con}}" >{{con|slice:"3:"}}<br>
                  {% endfor %}
                </div>
              </div>
            </div>
        {% endfor %}
          </div>
      {% else %}
        <p>country list missing!</p>
      {% endif %}

      </table>
    </form>
  </div>
</div>

  <div id="right">
    <form name = "idNav" action="{% url 'iTunesReviews:search' %}" method="post">
      {% csrf_token %}
      <input id="NavButton" type="submit" value="Search for ID">
    </form>

  </div>
{% endblock %}
