#wrap {
    width: 80%;
    height: 200px;


    padding: 5px;
}

div #left {
    width: 70%;
    float: left;
}
div #right {
    margin-left: 30%;
}

#NavButton{
  font-size: 150%;
  font-weight:bold;
}

#search{
  font-size: 150%;
  font-weight:bold;
  size:200%;
}
#searchBox{
  font-size:90%;
  width:50%;
}

#searchButton{
  font-size:90%;
}

* {
  font-family: sans-serif;
}
